{% extends 'main/layout.html' %}

{% block title %} MySet {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-2">
        <div class="p-3 border bg-light container-left-sort clearfix">
            <div class="industries">
                <div class="nav">
                    <h4>Industries</h4> 
                    <input type="text" placeholder="Filter industries...">
                    <button type="button" class="btn btn-outline-dark">Reset</button>
                </div>
                <ul>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                </ul>
            </div>
            <div class="technologies">
                <div class="nav">
                    <h4>Technologies</h4>
                    <input type="text" placeholder="Filter technologies...">
                    <button type="button" class="btn btn-outline-dark">Reset</button>
                </div>
                <ul>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                    <input type="checkbox" ><li>CSS</li>
                    <input type="checkbox" ><li>HTML</li>
                    <input type="checkbox" ><li>JS</li>
                </ul>
            
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="border bg-light container-main">
            
        </div>
    </div>
</div>
{% endblock %}  