{% for project in projects %}
    <div class="row project_">
    
        <div class="edit-project-button"><a href="{% url 'edit_project' project.id %}" class="btn btn-outline-secondary">Edit</a></div>
        <div class="delete-project-button"><a href="{% url 'delete_project' project.id %}" class="btn btn-outline-danger ">Delete</a></div>

        <div class="box col-sm-2" style="padding-top: 20px;">Title:</div>
        <div class="box col-sm-10 title_">{{ project.title }}</div>
        <div class="box col-sm-2">Industries:</div>
        <div class="box col-sm-10 industries_">
            {% for industry in project.industries.all %}
                {{ industry.name }}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        <div class="box col-sm-2">Description:</div>
        <div class="box col-sm-10">{{ project.description }}</div>
        <div class="box col-sm-2">Technologies:</div>
        <div class="box col-sm-10 technologies_">
            {% for technology in project.technologies.all %}
                {{ technology.name }}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        <div class="box col-sm-2">Url:</div>
        <div class="box col-sm-10 url_"><a href="" class="url_">{{ project.url }}</a></div>   
    </div> 
{% endfor %}
