html {
    overflow: hidden;
}
a {
    color: rgb(88, 68, 121);
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin-top: 15px;
    padding-left: 10px;
}
.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #FF7400;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.form_container {
    margin-top: 20px;
}
#form-title{
    color: #fff;
}
.login_btn {
    width: 100%;
    background: #FFB173 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.error-heading {
    color: rgb(3, 2, 2);
    font-weight: bold;
    text-transform: capitalize;
}
.error-text {
    color: rgb(0, 0, 0);
    margin-left: 20px;
}
.alert-warning {
    background-color: #ffd2ad;
    margin-top: 15px;
}
i .fa-user {
    height: 50px;
}
.menu {
    position: fixed;
    font-size: 23px;
    background-color: rgb(236, 236, 236);
    height: 7vh;
    min-height: 65px;
    width: 100vw;
    top: 0px;
}
.menu-head span {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(0%, -50%);
}
.menu-head a {
    position: absolute;
    font-size: 20px;
    right: 20%;
    top: 50%;
    transform: translate(0%, -50%);
}
.row {
    position: relative;
    overflow: hidden;
    top: 100px;
    justify-content: center;
}
.container-left-sort {
    height: 88vh;
}
.container-left-sort input {
    font-size: 15px;
    width: 65%;
    height: 38px;
    margin-left: 0px;
    
}
.container-left-sort button {
    position: relative;
    border-radius: 0%;
}
.industries,
.technologies {
    max-height: 50%;
    height: 50%;
    overflow-y: auto;
}.industries ul input,
.technologies ul input {
    float: left;
    height: 15px;
    width: 15px;
    top: 5px;
    position: relative;
    margin-right: 5px;
}
.nav {
    position: sticky;
    top: 0;
    padding: 10px; 
    z-index: 1;
    background-color: #F8F9FA;
}
.nav-2 {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 140px;
    background-color: #F8F9FA;
}
.num {
    position: absolute;
    right: 74%;
}
li label {
    padding-right: 20%;
}
.container-main {
    position: relative;
    height: 88vh;
    overflow: auto;
    padding: 0px 10px;
}
.container-main button {
    border-radius: 5px;
}
.btn-group-toggle-1 {
    position: absolute;
    display: flex;
    float: left;
    top: 20px;
}
.btn-group-toggle-2 {
    position: absolute;
    top: 20px;
    right: 20px;
}
.filter-of-container-main {
    position: relative;
    top: 60px;
    margin: 20px 0px;
    width: 90%;
    height: 38px;
    padding-left: 15px;
}
.search_ {
    position: absolute;
    border-color: rgb(117, 117, 117);
    top: 80px;
    right: 35px;
}
.custom-btn {
    margin-right: 0;
}
.custom-btn:last-child {
    margin-right: 0;
}
.search_:hover {
    background-color: rgb(134, 129, 129);
    border-color: rgb(117, 117, 117);
}
.project_ {
    top: 30px;
    width: 100%;
    min-height: 150px;
    box-sizing: border-box;
    margin: 10px 0px;
    border-top: 2px solid rgba(128, 128, 128, 0.5); 
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);    
}
.box {
    min-height: 30px;
    padding: 5px 30px;
}
.title_ {
    padding-top: 20px;
    font-weight: 700;
}
.industries_,
.technologies_ {
    color: rgb(73, 71, 156);
}
.url_ {
    padding-bottom: 30px;
    color: black;
}