{% extends 'main/layout.html' %}

{% block title %}Add Project{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 180px;">
            <h1>Add Project </h1>
            <form action="" method='POST'>
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-append">    
                        <span class="input-group-text material-symbols-outlined">Title</span>
                    </div>
                    {{form.title}}
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <span class="input-group-text material-symbols-outlined">Link</span>
                    </div>
                    {{form.url}}
                </div>
                <div class="input-group mb-2 block_">
                    <div class="input-group-append">
                        <span class="input-group-text material-symbols-outlined" style="float: left;">Settings</span>
                        <h5>Enter your technologies:</h5><br>
                    </div>
                    <div class="add-block-form">
                     {% for technology in form.technologies %}
                        {{ technology }}
                        {% if forloop.counter|divisibleby:5 %}
                            <span><br></span>
                        {% endif %}
                     {% endfor %}
                    </div> <br>
                    <div>
                        {{ form.new_technologies }}
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <span class="input-group-text material-symbols-outlined">Description</span>
                    </div>
                    {{form.description}}
                </div>
                <div class="input-group mb-2 block_">
                    <div class="input-group-append">
                        <span class="input-group-text material-symbols-outlined" style="float: left;">Construction</span>
                        <h5>Enter your industries:</h5><br>
                    </div>
                    <div class="add-block-form">
                    {% for industry in form.industries %}
                        {{ industry }}
                        {% if forloop.counter|divisibleby:5 and not forloop.last %}
                            <span><br></span>
                        {% endif %}
                     {% endfor %}
                    </div> <br>
                    <div>
                        {{ form.new_industries }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-sm" value=""> Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}