{% extends 'main/layout.html' %}

{% block title %} Delete Project {% endblock %}

{% block content %}
<br><br><br><br>
<h1 class="warning-h1">Are you sure you want to delete the project "{{ project.title }}"?</h1>
    <form action="" method="post" class="warning-form">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" style="font-size: 25px;">Yes, delete</button>
        <a href="{% url 'home' %}" class="btn btn-outline-dark"style="font-size: 25px;">Cancel</a>
    </form>
{% endblock %}